main {
  font-family: "helvetica neue", Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: #d6d5ff;
}
body {
  background: linear-gradient(45deg, #a583f5, #ff9bc1);
}

.table {
  background-color: #d6d5ff;
}

.thead {
  background-color: #a7a6ff;
}
